# Formspree Form ID
# Remplacer par votre ID Formspree (déjà configuré: xldoqgjo)
NEXT_PUBLIC_FORMSPREE_ID=xldoqgjo

# Google Maps API Key
# Obtenez votre clé API sur: https://console.cloud.google.com/google/maps-apis
# Remplacez YOUR_API_KEY par votre clé API Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=YOUR_API_KEY

